<section class="Eservices pt-5">
<div class="container p-5">
    <h2 class="text-end">الخدمات</h2>
    <div class="row">
        <div class="col-md-4">
                <div class="secOne secWidth text-center borderRadious text-white">
                    <div class="p-2 heading borderRadious">
                        <h2>المشاتل</h2>
                        <p class="EservicesText">يحرص المركز ويفضل إقامة المشاتل بالقرب من موقع الاستزراع 
                            ليتسنى نقلها لكي يتم زراعة الأنواع النباتية المستهدفة
                             بداخل كما يراعي حماية الشتلات من الشمس والرياح 
                            وتجهيز الحفر اللازمة للزراعة قبل نقل النباتات من المشتل.</p>

                       </div>

                </div>
                </div>

      
                <div class="col-md-4">
                    <div class="secTwo secWidth text-center text-white borderRadious">
                        <div class="p-2 heading borderRadious">
                            <h2>الشراكات</h2>
                            <p class="EservicesText">تتم الرعاية والحماية عبر خطوات وطرق تسهم في الحفاظ على النباتات وحمايتها من عوامل عديدة ومن هذه العوامل الطبيعية والغير طبيعية.</p>
                          </div>

                    </div>
                        </div>

                        <div class="col-md-4">
                            <div class="secThree secWidth text-center text-white  borderRadious">
                                <div class="p-2 heading borderRadious">
                                    <h2 class=>المساهمات</h2>
                                    <p class="EservicesText">يعمل المركز على زراعة الأشجار والشجيرات البرية لأحياء مواقعها الطبيعية
                                       كالغابات والأودية 
                                         والمراعي الطبيعية والفياض والروضات، وذلك باستخدام النباتات المحلية الملائمة علما
                                         بانه يكون التدخل البشري عادة محدودا في بداية التشجير
                                         وبعد ذلك تترك النباتات لتعتمد على نفسها.
                                    </p>
                                   </div>
                  
                            </div>
                         
                                </div>
                     
    </div>
</div>
</section>