<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="licenses">licenses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="EServices">EServices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="FAQ">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="News">News</a>
          </li>
       
        
        </ul>
      
      </div>
    </div>
  </nav>