<section class="p-5">
    <div class="container p-5">
        <div class="row p-5">
            <div class="col-md-12">
                <ngb-carousel >
                    <ng-template ngbSlide>
                        <div class="col-md-4">
                            <a href="#" class="news_item" target="_blank">
                             <div class="bg-white news-slider rounded p-4">
                                 <div class="news_Date">
                                     <span class="news_Date_Txt">  يناير</span>
                                     <span class="news_date_num">19</span>
                 
                                 </div>
                 
                               <div class="text-end title">
             
                                 توقيع عقد بين المركز وإحدى الشركات الوطنية
                                                                                                                
                               </div>
                 
                               <p class="txt">
             
             
                                 المركز يطلق مشروعًا لزراعة 400 ألف شتلة من الأشجار المحلية بمحمية الإمام تركي بن عبدالله الملكية
                                 عبر توقيع عقد بين المركز وإحدى الشركات الوطنية، سعيًا لتحقيق مستهدفات مبادرة السعودية الخضراء
                                
                                                                                           
                                                                            
                           
                               </p>
                 
                               <div class="Radious news_img">
                                 <img src="../../assets/images/News/014.jpg"  alt="Info">
                               </div>
                              </div>
                            </a>
                           </div>
                    </ng-template>
                    <ng-template ngbSlide>
                         
                        <div class="col-md-4">
                            <a href="#" target="_blank" class="news_item">
                             <div class="bg-white news-slider rounded p-4">
                                 <div class="news_Date">
                                     <span class="news_Date_Txt">  ابريل</span>
                                     <span class="news_date_num">19</span>
                 
                                 </div>
                 
                               <div class="text-end title">
                               
             
                                 بالتعاون مع جامعة الملك عبدالله للعلوم والتقنية
                                                                        
                 
                               </div>
                 
                               <div class="txt">
             
                                 يباشر المركز جولات ميدانية في أماكن انتشار إحدى أشهر أنواع النباتات الغازية في السعودية، معتمدًا على أحدث التقنيات، للتوصل إلى الطرق المناسبة لمكافحتها..
                                                         
                           
                               </div>
                 
                               <div class="Radious news_img">
                                 <img src="../../assets/images/News/011.jpg"  alt="Info">
                               </div>
                              </div>
                            </a>
                           </div>
                    </ng-template>

                    <ng-template ngbSlide>
                        <div class="col-md-4">
                            <a href="#" target="_blank" class="news_item">
                             <div class="bg-white news-slider rounded p-4">
                                 <div class="news_Date">
                                     <span class="news_Date_Txt">  سبتمبر</span>
                                     <span class="news_date_num">29</span>
                 
                                 </div>
                 
                               <div class="text-end  title">
                               
             
                                 تكريم اصحاب الهمة العالية
                                                                        
                 
                               </div>
                 
                               <p class="txt">
             
                                 المركز يُكرم صاحب الهمة العالية الأستاذ فهد الحربي لمشاركته الفاعلة في حملات التشجير بمحافظة الرس حيث قام بزراعة مايقارب ٥٠٠ شجرة
             
                                                         
                           
                               </p>
                 
                               <div class="Radious news_img">
                                 <img src="../../assets/images/News/015.jpg"  alt="Info">
                               </div>
                              </div>
                            </a>
                           </div>
                    </ng-template>
             
               

                    
                  
                </ngb-carousel>
            </div>

            <div class="col-md-4">
                <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="images[0]" alt="Random first slide" />
                        </div>
                        <div class="carousel-caption">
                            <h3>First slide label</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="images[1]" alt="Random second slide" />
                        </div>
                        <div class="carousel-caption">
                            <h3>Second slide label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="images[2]" alt="Random third slide" />
                        </div>
                        <div class="carousel-caption">
                            <h3>Third slide label</h3>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>

            <div class="col-md-4">
                <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="images[0]" alt="Random first slide" />
                        </div>
                        <div class="carousel-caption">
                            <h3>First slide label</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="images[1]" alt="Random second slide" />
                        </div>
                        <div class="carousel-caption">
                            <h3>Second slide label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img [src]="images[2]" alt="Random third slide" />
                        </div>
                        <div class="carousel-caption">
                            <h3>Third slide label</h3>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</section>
