<section class="p-5 bg-light">


    <div class="container p-5">
        <div class="row">
           <div class="col-lg-8">
            <div class="row">

              <!--برامج اعادة تأهيـل المراعي المتدهورة-->
              <div class="col-sm-6">
               <a href="" target="_blank" class="news_item">
                <div class="bg-white news-slider rounded p-4">
                    <div class="news_Date ">
                        <span class="news_Date_Txt">  ديسمبر</span>
                        <span class="news_date_num">28</span>
    
                    </div>
                  
                  <div class="title">
                        برامج إعادة تأهيل المراعي المتدهورة
                  </div>
    
                  <p class="txt">
                    نمو آلاف الشتلات الرعوية، ومنها فرس وضمران ورغل وروثه، المستزرعة بمحطة إكثار البذور ببسيطا في محافظة طبرجل بمنطقة الجوف ونضجها يمثل تجربة زراعية ناجحة، وستصبح أمهات منتجة للبذور مستقبلًا لتساهم في برامج إعادة تأهيل المراعي المتدهورة
                  </p>
    
                  <div class="Radious news_img">
                    <img src="../../assets/images/News/015.jpg"  alt="Info">
                  </div>
                 </div>
               </a>
              </div>

              <!--اسبوع البيئة-->
              <div class="col-sm-6">
              <a href="" target="_blank" class="news_item">
                <div class="bg-white news-slider rounded p-4">
                    <div class="news_Date">
                        <span class="news_Date_Txt">  مارس</span>
                        <span class="news_date_num">18</span>
    
                    </div>
                
                  <div class="text-end title">   
                    اسبوع البيئة                   
                  </div>
                  <p class="txt">

                    ندعوكم للمشاركة في أعمال التشجير بمتنزه عنيزة الوطني احتفالًا بـ #أسبوع_البيئة ضمن حملة #لنجعلها_خضراء في منطقة القصيم، بالتعاون مع مكتب وزارة البيئة والمياه والزراعة بالمحافظة من 22 حتى 26 مارس.
                                            
              
                  </p>
                  <div class="Radious news_img">
                    <img src="../../assets/images/News/016 (1).jpg"  alt="Info">
                  </div>
                 </div>
              </a>
              </div>
                  <!--المركز يدشن حملة لنجعلها خضراء-->

              <div class="col-sm-6">
               <a href="#" target="_blank" class="news_item">
                <div class="bg-white news-slider rounded p-4">
                    <div class="news_Date">
                        <span class="news_Date_Txt">  اكتوبر</span>
                        <span class="news_date_num">10</span>
    
                    </div>
                  <div class="text-end title">
                  

                    المركز يدشن حملة لنجعلها خضراء
                                                           
    
                  </div>
    
                  <p class="txt">

                    بحضور الرئيس التنفيذي الدكتور خالد العبدالقادر.. المركز يدشن حملة #لنجعلها_خضراء لموسم 2021/ 2022 في متنزه المحالب البري بروضة سدير ومتنزه الجرعاء الوطني بمحافظة شقراء بالتعاون مع وزارة البيئة والمياه والزراعة وعدد من الجمعيات البيئية ومشاركة المجتمع المحلي.
                                            
              
                  </p>
    
                  <div class="Radious news_img">
                    <img src="../../assets/images/News/013.jpg"  alt="Info">
                  </div>
                 </div>
               </a>
              </div>

              <!--توقيع عقد بين المركز وإحدى الشركات الوطنية-->
              <div class="col-sm-6">
               <a href="#" class="news_item" target="_blank">
                <div class="bg-white news-slider rounded p-4">
                    <div class="news_Date">
                        <span class="news_Date_Txt">  يناير</span>
                        <span class="news_date_num">19</span>
    
                    </div>
    
                  <div class="text-end title">

                    توقيع عقد بين المركز وإحدى الشركات الوطنية
                                                                                                   
                  </div>
    
                  <p class="txt">


                    المركز يطلق مشروعًا لزراعة 400 ألف شتلة من الأشجار المحلية بمحمية الإمام تركي بن عبدالله الملكية
                    عبر توقيع عقد بين المركز وإحدى الشركات الوطنية، سعيًا لتحقيق مستهدفات مبادرة السعودية الخضراء
                   
                                                                              
                                                               
              
                  </p>
    
                  <div class="Radious news_img">
                    <img src="../../assets/images/News/014.jpg"  alt="Info">
                  </div>
                 </div>
               </a>
              </div>

              <!--بالتعاون مع جامعة الملك عبدالله للعلوم والتقنية -->
              <div class="col-sm-6">
               <a href="#" target="_blank" class="news_item">
                <div class="bg-white news-slider rounded p-4">
                    <div class="news_Date">
                        <span class="news_Date_Txt">  ابريل</span>
                        <span class="news_date_num">19</span>
    
                    </div>
    
                  <div class="text-end title">
                  

                    بالتعاون مع جامعة الملك عبدالله للعلوم والتقنية
                                                           
    
                  </div>
    
                  <div class="txt">

                    يباشر المركز جولات ميدانية في أماكن انتشار إحدى أشهر أنواع النباتات الغازية في السعودية، معتمدًا على أحدث التقنيات، للتوصل إلى الطرق المناسبة لمكافحتها..
                                            
              
                  </div>
    
                  <div class="Radious news_img">
                    <img src="../../assets/images/News/011.jpg"  alt="Info">
                  </div>
                 </div>
               </a>
              </div>
              <!--تكريم اصحاب الهمة العالية -->
              <div class="col-sm-6">
               <a href="#" target="_blank" class="news_item">
                <div class="bg-white news-slider rounded p-4">
                    <div class="news_Date">
                        <span class="news_Date_Txt">  سبتمبر</span>
                        <span class="news_date_num">29</span>
    
                    </div>
    
                  <div class="text-end  title">
                  

                    تكريم اصحاب الهمة العالية
                                                           
    
                  </div>
    
                  <p class="txt">

                    المركز يُكرم صاحب الهمة العالية الأستاذ فهد الحربي لمشاركته الفاعلة في حملات التشجير بمحافظة الرس حيث قام بزراعة مايقارب ٥٠٠ شجرة

                                            
              
                  </p>
    
                  <div class="Radious news_img">
                    <img src="../../assets/images/News/015.jpg"  alt="Info">
                  </div>
                 </div>
               </a>
              </div>

              <!--مبادرة السعودية الخضراء-->
              <div class="col-sm-6">
              <a href="#" target="_blank" class="news_item">
                <div class="bg-white news-slider rounded p-4">
                    <div class="news_Date">
                        <span class="news_Date_Txt">  يناير</span>
                        <span class="news_date_num">12</span>
    
                    </div>
    
                  <div class="text-end title">
                  

                    مبادرة السعودية الخضراء
                                                           
    
                  </div>
    
                  <p class="txt">

                    المركز يقوم بنثر أكثر من 10 أطنان من البذور في 11 منطقة حول المملكة خلال 90 يومًا ضمن حملة
                                            
              
                  </p>
    
                  <div class="Radious news_img">
                    <img src="../../assets/images/News/009.jpg"  alt="Info">
                  </div>
                 </div>
              </a>
              </div>
<!--الدليل الاسترشادي للتشجير في البيئات الجافة-->

              <div class="col-sm-6">
                <a href="#" target="_blank" class="news_item">
                  <div class="bg-white news-slider rounded p-4">
                      <div class="news_Date">
                          <span class="news_Date_Txt">  ديسمبر</span>
                          <span class="news_date_num">02</span>
      
                      </div>
      
                    <div class="text-end title">
                    
  
                      الدليل الاسترشادي للتشجير في البيئات الجافة
                                                             
      
                    </div>
      
                    <p class="txt">
  
                      المركز يصدر الدليل الاسترشادي للتشجير في البيئات الجافة في المملكة ليكون مرجعًا للمهتمين بأعمال التشجير وللمتطوعين، إضافة إلى كونه نافذة علمية للتعريف بالتشجير وأهميته.
                                              
                
                    </p>
      
                    <div class="Radious news_img">
                      <img src="../../assets/images/News/010.jpg"  alt="Info">
                    </div>
                   </div>
                </a>
                
              </div>

<!--لنجعلها خضراء-->

              <div class="col-sm-6">
                <a href="#" target="_blank" class="news_item">
                  <div class="bg-white news-slider rounded p-4">
                      <div class="news_Date">
                          <span class="news_Date_Txt">  يناير</span>
                          <span class="news_date_num">04</span>
      
                      </div>
      
                    <div class="text-end  title">
                    
  لنجعلها خضراء                   
      
                    </div>
      
                    <p class="txt">
  
                      المركز يعلن عن اكتمال زراعة ما يقارب مليون شتلة مانجروف بمشروعي التراثية والصوارمة في جازان
                                              
                
                    </p>
      
                    <div class="Radious  news_img">
                      <img src="../../assets/images/News/007.jpg"  alt="Info">
                    </div>
                   </div>
                </a>
               
              </div>


<!--اطلاق حملة لنجعلها خضراء-->

              <div class="col-sm-6">
                <a href="#" target="_blank" class="news_item">
                  <div class="bg-white news-slider rounded p-4">
                      <div class="news_Date">
                          <span class="news_Date_Txt">  اكتوبر</span>
                          <span class="news_date_num">11</span>
      
                      </div>
      
                    <div class="text-end title">
                    
  اطلاق حملة لنجعلها خضراء                       
      
                    </div>
      
                    <p class="txt">
  
                      توفر حملة #لنجعلها_خضراء فرصا عديدة للمشاركة المجتمعية والتطوع في مجالات التشجير وإنتاج الشتلات ونثر البذور وحملات نظافة الغطاء النباتي
                      ساهم في التشجير.. وكن جزءا من التغيير
                                                                  
                
                    </p>
      
                    <div class="Radious news_img">
                      <img src="../../assets/images/News/008.jpg"  alt="Info">
                    </div>
                   </div>
                </a>
               
              </div>
           
           
       
              
            </div>
           </div>
      
           <div class="col-lg-4">
      <div class="p-4 bg-white rounded">
        <h3 class="titleOfSearch">البحث</h3>
        <div class="input-group mb-4">
          <input type="text" class="form-control inputsOne" >
          <span class="input-group-text buttonSearch fs-4 d-flex justify-content-center align-items-center inputsOne">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
        </div>
        <div class="input-group mt-4 mb-3 pb-3 ">
          <input
          class="form-control text-end"
          placeholder="اختر تاريخاً"
          name="dp"
          [displayMonths]="displayMonths"
          [navigation]="navigation"
          [outsideDays]="outsideDays"
          [showWeekNumbers]="showWeekNumbers"
          ngbDatepicker
          #d="ngbDatepicker"
          (click)="d.toggle()"
        />
        </div>
        <div class="testDatepicker pe-0 me-0  bg-primary text-end">
          <form class="row row-cols-sm-auto ">
            <div class="d-flex justify-content-end ">
              <div class="input-group bg-warning">
               
              </div>
            </div>
          </form>
          
        </div>
        <h3 class="text-end">التصنيفات</h3>
        <div class="mt-3 mb-3">
        <a href="#"  class="text-decoration-none"> 
          
          <h3 class="postNews_txt"><span class="text-p pe-2">(8)</span>الاخبار</h3>
        
        </a>

        </div>
        <div>
          <a href="#" class="text-decoration-none">
             <h3 class="postNews_txt mb-3"><span class="text-p pe-2">(2)</span>الاحداث</h3>
            </a>
        </div>
        
        <h3 class="text-end">اخر الاخبار و الاحداث</h3>
        <div class="container">
      <div class="row">
      
        <div class=" border-bottom  pe-0 postNews">
<div class="pt-3 pb-2 d-flex justify-content-between test align-items-center">
<img src="../../assets/images/News/016 (1).jpg" class="w-100" alt="newsImgages">
<div class=" w-75 pe-1 text-end">
<h3 class="postNews_txt">اسبوع البيئة</h3>
<p class="text-p text-end">مارس</p>
</div>
</div>             
          </div>
      </div>
          
        </div>
        <div class="container">
          <div class="row">
          
            <div class=" border-bottom  pe-0 postNews">
<div class="pt-3 pb-2 d-flex justify-content-between test align-items-center">
  <img src="../../assets/images/News/015.jpg" class="w-100" alt="newsImgages">
  <div class=" w-75 pe-1 text-end">
    <h3 class="postNews_txt">برامج إعادة تأهيل المراعي المتدهورة</h3>
  <p class="text-p text-end">ديسمبر</p>
  </div>
</div>             
              </div>
          </div>
              
            </div>
            <div class="container">
              <div class="row">
              
                <div class=" border-bottom  pe-0 postNews">
    <div class="pt-3 pb-2 d-flex justify-content-between test align-items-center">
      <img src="../../assets/images/News/016 (1).jpg" class="w-100" alt="newsImgages">
      <div class=" w-75 pe-1 text-end">
        <h3 class="postNews_txt">توقيع عقد بين المركز وإحدى الشركات الوطنية
        </h3>
      <p class="text-p text-end">يناير</p>
      </div>
    </div>             
                  </div>
              </div>
                  
                </div>
      </div>
            
           </div>

          
        </div>
    </div>

</section>

