<section class="p-5 bg-light">

    <div class="container p-5">
        <div class="row">
           
            <div class="col-md-12 col-lg-6 col-xl-4">
              <div class="bg-white rounded p-4">
               <div class="d-flex justify-content-end ">
                 <div class="w-50 border-bottom text-end d-flex justify-content-end  align-items-center">
                     <h2>  ديسمبر</h2>
                     <span class="date ms-1">28</span>
 
                 </div>
               </div>
 
               <div class="pt-3 text-end w-100 title">
               
                     برامج إعادة تأهيل المراعي المتدهورة
                
 
               </div>
 
               <div class="txt">
                 نمو آلاف الشتلات الرعوية، ومنها فرس وضمران ورغل وروثه، المستزرعة بمحطة إكثار البذور ببسيطا في محافظة طبرجل بمنطقة الجوف ونضجها يمثل تجربة زراعية ناجحة، وستصبح أمهات منتجة للبذور مستقبلًا لتساهم في برامج إعادة تأهيل المراعي المتدهورة
 
           
               </div>
 
               <div class="Radious text-end pb-3">
                 <img src="../../assets/images/News/015.jpg" class="w-100 Radious " alt="Info">
               </div>
              </div>
 
              <div class="bg-white mt-3 rounded p-4">
               <div class="d-flex justify-content-end ">
                 <div class="w-50 border-bottom text-end d-flex justify-content-end  align-items-center">
                     <h2>  اكتوبر</h2>
                     <span class="date ms-1">10</span>
 
                 </div>
               </div>
 
               <div class="pt-3 text-end w-100 title">
               
 
                 المركز يدشن حملة لنجعلها خضراء
                                                        
 
               </div>
 
               <div class="txt">
 
                 بحضور الرئيس التنفيذي الدكتور خالد العبدالقادر.. المركز يدشن حملة #لنجعلها_خضراء لموسم 2021/ 2022 في متنزه المحالب البري بروضة سدير ومتنزه الجرعاء الوطني بمحافظة شقراء بالتعاون مع وزارة البيئة والمياه والزراعة وعدد من الجمعيات البيئية ومشاركة المجتمع المحلي.
                                         
           
               </div>
 
               <div class="Radious text-end pb-3">
                 <img src="../../assets/images/News/013.jpg" class="w-100 Radious " alt="Info">
               </div>
              </div>
 
 
              <div class="bg-white mt-3 rounded p-4">
               <div class="d-flex justify-content-end ">
                 <div class="w-50 border-bottom text-end d-flex justify-content-end  align-items-center">
                     <h2>  ابريل</h2>
                     <span class="date ms-1">19</span>
 
                 </div>
               </div>
 
               <div class="pt-3 text-end w-100 title">
               
 
                 بالتعاون مع جامعة الملك عبدالله للعلوم والتقنية
                                                        
 
               </div>
 
               <div class="txt">
 
                 يباشر المركز جولات ميدانية في أماكن انتشار إحدى أشهر أنواع النباتات الغازية في السعودية، معتمدًا على أحدث التقنيات، للتوصل إلى الطرق المناسبة لمكافحتها..
                                         
           
               </div>
 
               <div class="Radious text-end pb-3">
                 <img src="../../assets/images/News/011.jpg" class="w-100 Radious " alt="Info">
               </div>
              </div>
 
 
              <div class="bg-white mt-3 rounded p-4">
               <div class="d-flex justify-content-end ">
                 <div class="w-50 border-bottom text-end d-flex justify-content-end  align-items-center">
                     <h2>  يناير</h2>
                     <span class="date ms-1">12</span>
 
                 </div>
               </div>
 
               <div class="pt-3 text-end w-100 title">
               
 
                 مبادرة السعودية الخضراء
                                                        
 
               </div>
 
               <div class="txt">
 
                 المركز يقوم بنثر أكثر من 10 أطنان من البذور في 11 منطقة حول المملكة خلال 90 يومًا ضمن حملة
                                         
           
               </div>
 
               <div class="Radious text-end pb-3">
                 <img src="../../assets/images/News/009.jpg" class="w-100 Radious " alt="Info">
               </div>
              </div>
 
 
              <div class="bg-white mt-3 rounded p-4">
               <div class="d-flex justify-content-end ">
                 <div class="w-50 border-bottom text-end d-flex justify-content-end  align-items-center">
                     <h2>  يناير</h2>
                     <span class="date ms-1">04</span>
 
                 </div>
               </div>
 
               <div class="pt-3 text-end w-100 title">
               
 
                 لنجعلها خضراء
                                                        
 
               </div>
 
               <div class="txt">
 
                 المركز يعلن عن اكتمال زراعة ما يقارب مليون شتلة مانجروف بمشروعي التراثية والصوارمة في جازان
                                         
           
               </div>
 
               <div class="Radious text-end pb-3">
                 <img src="../../assets/images/News/007.jpg" class="w-100 Radious " alt="Info">
               </div>
              </div>
 
          
 
 
 
 
             </div>
             <div class="col-md-12  col-lg-6 col-xl-4">
                      <div class="hh">
                        <a class="test">
                          <div class="bg-white test rounded p-4">
                            <div class="d-flex justify-content-end ">
                              <div class="w-50 border-bottom text-end d-flex justify-content-end  align-items-center">
                                  <h2>  مارس</h2>
                                  <span class="date ms-1">18</span>
              
                              </div>
                            </div>
              
                            <div class="pt-3 text-end w-100 title">
                            
                         اسبوع البيئة                
              
                            </div>
              
                            <div style="max-width: 500px;" class="txt">
             
                             ندعوكم للمشاركة في أعمال التشجير بمتنزه عنيزة الوطني احتفالًا بـ #أسبوع_البيئة ضمن حملة #لنجعلها_خضراء في منطقة القصيم، بالتعاون مع مكتب وزارة البيئة والمياه والزراعة بالمحافظة من 22 حتى 26 مارس.
                                                      
                        
                            </div>
              
                            <div class="Radious text-end pb-3">
                              <img src="../../assets/images/News/016 (1).jpg" class="w-100 Radious " alt="Info">
                            </div>
                           </div>
                        </a>
                      </div>
  
               <div class="bg-white test mt-3 rounded p-4">
                <div class="d-flex justify-content-end ">
                  <div class="w-50 border-bottom text-end d-flex justify-content-end  align-items-center">
                      <h2>  يناير</h2>
                      <span class="date ms-1">19</span>
  
                  </div>
                </div>
  
                <div class="pt-3 text-end w-100 title">
                 توقيع عقد بين المركز وإحدى الشركات 
                </div>
  
                <div style="max-width: 500px;" class="txt">
  
 
                 المركز يطلق مشروعًا لزراعة 400 ألف شتلة من الأشجار المحلية بمحمية الإمام تركي بن عبدالله الملكية
                 عبر توقيع عقد بين المركز وإحدى الشركات الوطنية، سعيًا لتحقيق مستهدفات مبادرة السعودية الخضراء
                
                                                                                                 
            
                </div>
  
                <div class="Radious text-end pb-3">
                  <img src="../../assets/images/News/014.jpg" class="w-100 Radious " alt="Info">
                </div>
               </div>
  
  
               <div class="bg-white test mt-3 rounded p-4">
                <div class="d-flex justify-content-end ">
                  <div class="w-50 border-bottom text-end d-flex justify-content-end  align-items-center">
                      <h2>  سبتمبر</h2>
                      <span class="date ms-1">29</span>
  
                  </div>
                </div>
  
                <div class="pt-3 text-end w-100 title">
                
  
 تكريم اصحاب الهمة العالية                                                        
  
                </div>
  
                <div style="max-width: 500px;" class="txt">
  
 
                 المركز يُكرم صاحب الهمة العالية الأستاذ فهد الحربي لمشاركته الفاعلة في حملات التشجير بمحافظة الرس حيث قام بزراعة مايقارب ٥٠٠ شجرة
 
                                                                                  
            
                </div>
  
                <div class="Radious text-end pb-3">
                  <img src="../../assets/images/News/012.jpg" class="w-100 Radious " alt="Info">
                </div>
               </div>
  
  
               <div class="bg-white test mt-3 rounded p-4">
                <div class="d-flex justify-content-end ">
                  <div class="w-50 border-bottom text-end d-flex justify-content-end  align-items-center">
                      <h2>  ديسمبر</h2>
                      <span class="date ms-1">2</span>
  
                  </div>
                </div>
  
                <div class="pt-3 text-end w-100 title">
                
  
 
                 الدليل الاسترشادي للتشجير في البيئات الجافة
                                                                                                 
  
                </div>
  
                <div style="max-width: 500px;" class="txt">
  
 
                 المركز يصدر الدليل الاسترشادي للتشجير في البيئات الجافة في المملكة ليكون مرجعًا للمهتمين بأعمال التشجير وللمتطوعين، إضافة إلى كونه نافذة علمية للتعريف بالتشجير وأهميته.
                                                                                  
            
                </div>
  
                <div class="Radious text-end pb-3">
                  <img src="../../assets/images/News/010.jpg" class="w-100 Radious " alt="Info">
                </div>
               </div>
  
  
               <div class="bg-white test mt-3 rounded p-4">
                <div class="d-flex justify-content-end ">
                  <div class="w-50 border-bottom text-end d-flex justify-content-end  align-items-center">
                      <h2>  اكتوبر</h2>
                      <span class="date ms-1">11</span>
  
                  </div>
                </div>
  
                <div class="pt-3 text-end w-100 title">
                
  
               اطلاق حملة لنجعلها خضراء                                                        
  
                </div>
  
                <div  style="max-width: 500px;" class="txt">
  
 
                 توفر حملة #لنجعلها_خضراء فرصا عديدة للمشاركة المجتمعية والتطوع في مجالات التشجير وإنتاج الشتلات ونثر البذور وحملات نظافة الغطاء النباتي
                 ساهم في التشجير.. وكن جزءا من التغيير
                                                                                                  
            
                </div>
  
                <div class="Radious text-end pb-3">
                  <img src="../../assets/images/News/008.jpg" class="w-100 Radious " alt="Info">
                </div>
               </div>
  
           
  
  
  
  
              </div>
           

            <div class="col-md-12 col-xl-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    <span class="input-group-text bg-success">@</span>
                  </div>
            </div>
        </div>
    </div>

</section>