/* You can add global styles to this file, and also import other style files */
.accordion-button:focus {
    z-index: 3;
    /* border-color: var(--bs-accordion-btn-focus-border-color); */
    outline: 0;
    box-shadow: none  !important;
}
@font-face {
    font-family: Droid-Arabic-Kufi;
    src: url(../src/assets/fonts/Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf);
}
*
{
  font-family: Droid-Arabic-Kufi !important;

}