<section class="licenses vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center" style="width: 18rem;margin:30px;">
        <div class="d-flex justify-content-center pt-5">
        <img src="../../assets/images/33-332851_font-awesome-pdf-icon-clipart-png-download-vector.png" class="w-25" alt="PDF">
        </div>
        <div class="card-body pt-5">
          <p class="card-text">اللائحة التنفيذية لتنمية الغطاء النباتي </p>
          <p class="card-text">ومكافحة التصحر لنظام البيئة</p>
          <a class="card-text" href="https://dev.tecsolutiongroup.com/Afforestation4/PdfFiles/%d8%a7%d9%84%d9%84%d8%a7%d9%8a%d9%94%d8%ad%d8%a9%20%D8%A7%D9%84%D8%AA%D9%86%D9%81%D9%8A%D8%B0%D9%8A%D8%A9%20%D9%84%D8%AA%D9%86%D9%85%D9%8A%D8%A9%20%D8%A7%D9%84%D8%BA%D8%B7%D8%A7%D8%A1%20%D8%A7%D9%84%D9%86%D8%A8%D8%A7%D8%AA%D9%8A%20%D9%88%D9%85%D9%83%D8%A7%D9%81%D8%AD%D8%A9%20%D8%A7%D9%84%D8%AA%D8%B5%D8%AD%D8%B1%20%D9%84%D9%86%D8%B8%D8%A7%D9%85%20%D8%A7%D9%84%D8%A8%D9%8A%D9%8A%D9%94%D8%A9.pdf" target="_blank" class="btn btn-primary">فتح</a>
        </div>
      </div>
</section>